@font-face {
    font-family: 'Siemens';
    src: url('Siemensbold.ttf');
    font-weight: bolder;
    font-style: bolder;
}

@font-face {
    font-family: 'Siemens';
    src: url('Siemensblack.ttf');
    font-weight: bold;
    font-style: bold;
}

@font-face {
    font-family: 'Siemens';
    src: url('Siemensroman.ttf');
    font-weight: normal;
    font-style: normal;
}


h1{
    font-family: 'Siemens';
    font-weight: bolder;
}

h2{
    font-family: 'Siemens';
    font-weight: bold;
}

p{
    font-family: 'Siemens';
    font-weight: normal;
}